<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/./css/admin.css">
    <title>Document</title>
  </head>
  <body>
    <div id="main">
      <header>
        <div class="header" id="lefth">
          <p>Admin Dashboard</p>
          <p>WELCOME <%= data.a_name.toUpperCase()%></p>
        </div>
        <div class="header" id="righth">
          <a href="">Home</a>

          <a href="">Quick view</a>
          <a href="">Logout</a>
        </div>
      </header>
      <div id="area">
        <div id="sidebar"></div>
        <div id="mainbar"></div>
      </div>
    </div>
  </body>
</html>
