<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <h1>Student PAGE EJS</h1>
    <p>Student Page rendered by ejs teplate</p>
    <a href="/">HOme</a><br />
    <br />
    <a href="/about">About</a>
    <ol>
      <!-- <%student.map((obj)=>{%>
      <li><%=obj%></li>
      <%})%> -->
    </ol>
  </body>
</html>
