<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
  </head>
  <body>
    <h1>STUDENT PAGE BY ROUTES</h1>

    <h4>
      <a href="/student/list">Check Records</a>
      <br />
      <br />
      <br />
      <br />
      <br />
      <form action="/student/add" method="post">
        <input type="text" name="roll" placeholder="Roll" /> <br />
        <input type="text" name="name" placeholder="Name" /><br />
        <input type="text" name="fees" placeholder="Fees" /><br />
        <input type="text" name="marks" placeholder="Marks" /><br />
        <button>ADD NEW RECORD</button><br />
      </form>
    </h4>
  </body>
</html>
