.main-header .logo {
  float: left;
  line-height: 80px;
  padding-left: 60px;
}

.main-header .logo a {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
}
.main-header .logo a em {
  font-style: normal;
  color: #f5a425;
}
.main-header {
  background-color: rgba(22, 34, 57, 0.95);
  height: 80px;
  position: fixed;
  z-index: 12;
  width: 100%;
  top: 0;
}
