<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <ol>
      <li><b><a href="/student">Students records</a></b></li>
      <li><b>Class records</b></li>
      <li><b>Faculty records</b></li>

    </ol>
  </body>
</html>
